build==1.0.3
click==8.1.7
coverage==7.2.1
flake8==7.0.0
iniconfig==2.0.0
mypy-extensions==1.0.0
packaging==24.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyproject_hooks==1.0.0
pytest==7.4.4
pytest-cov==4.0.0
pytest-env==0.8.1
pytest-mock==3.10.0
pytest-skip-slow==0.0.5
PyYAML==6.0.1
types-psycopg2==2.9.21.20
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
